{% extends "default/LayoutFront.html.twig" %}
{% block section %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Add Subject</h3>
                    <!-- Login Form -->
                    {{ form_start(sujetform,{'attr':{'novalidate':'novalidate'}}) }}
                    <div class="form-group">
                        <label for="inputAddress">Description :</label>
                        {{ form_widget(sujetform.descriptionF, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                                {{ form_row(sujetform.Captcha) }}
                    </div>

                   <button  onclick="run()" {{ form_widget(sujetform.Add, { 'attr': {'class': 'btn oneMusic-btn mt-30'} }) }} </button>

                    {{ form_end(sujetform) }}
              </div>
         </div>
      </div>
    </div>

    <script>



        function run() {

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    onOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Forum addes succesfully wait for it to be accepted'
                })


        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}





