{% extends "default/LayoutFront.html.twig" %}

{% block section %}

        {% for i in forums %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="login-content">


                            <div class="form-group">



                                <h6>Added :<b style="color: #00a596">{{ i.date | date("m/d/Y")  }} </b>By <b style="color: #0b58a2">{{ i.idUser.Username }}</b> </h6>
                                <br>
                                <div class="form-group">
                                   <h5>Subject:  <b> {{ i.descriptionF |raw  }} </b></h5>
                                </div>


                            </div>


                            <div class="form-group">
                                <a href="{{ path('detail_sujet', { 'id': i.idF.idF }) }}" class="generic-btn info-border radius"><i class="fa fa-external-link-square" style="font-size:30px; color: royalblue"></i> </a>

                            </div>
                        </div>

                    </div>

                </div>





            </div>
            <br>
            <div style="padding-left: 625px;padding-top: 10px" class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="300ms">
                {{ knp_pagination_render(forums) }}
            </div>


        {%  endfor %}

{% endblock %}