{% extends "default/LayoutBack.html.twig" %}
{% block section %}
    <div class="app-content content" >
    <div class="content-wrapper" >
        <h4 >Number of signaled Subjects: {{ nbsignale }}</h4>
    </div>
    </div>
   <br><br><br><br><br><br>






    <div class="table-responsive">
        <table class="table table-padded table-xl mb-0" id="recent-project-table">
            <thead>
            <tr>
                <th class="border-top-0">User id</th>
                <th class="border-top-0">Description</th>
                <th class="border-top-0">Strike</th>
                <th class="border-top-0">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for i in sujetsignale %}
                <tr>
                    <td class="text-truncate align-middle">
                        <a >{{ i.iduser.id }}</a>
                    </td>
                    <td class="text-truncate">
                        <ul class="list-unstyled users-list m-0">
                            <a>{{ i.descriptionf | raw }}</a>

                        </ul>
                    </td>
                    <td class="text-truncate">
                        <ul class="list-unstyled users-list m-0">
                            <a>{{ i.strike  }}</a>
                        </ul>
                    </td>

                    <td class="text-truncate align-middle">
                        <a href="{{ path('supprimersujetsignaler',{'id':i.idF})}}" class ="btn btn-glow btn-round btn-bg-gradient-x-red-pink">Delete</a>

                    </td>

                </tr>



            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}