{% extends "default/LayoutFront.html.twig" %}
{% block links %}

{% endblock %}


{% block section %}
    <div class="row">
        <div class="col">
            <div class="login-form">
                {{ form_start(competitionform) }}
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="inputEmail4">name</label>
                        {{ form_widget(competitionform.namecomp , { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">price</label>
                        {{ form_widget(competitionform.pricecomp, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">description</label>
                    {{ form_widget(competitionform.desccomp, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">nbrmaxspec</label>
                        {{ form_widget(competitionform.nbrmaxspec, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">nbrmaxpar</label>
                        {{ form_widget(competitionform.nbrmaxpar, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress">location</label>
                    {{ form_widget(competitionform.location, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputState">startingdate</label>
                        {{ form_widget(competitionform.startingdate, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group col-md-5">
                        <label for="inputState">date debut</label>
                        {{ form_widget(competitionform.endingdate, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">category</label>
                        {{ form_widget(competitionform.idcat, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        {{ form_widget(competitionform.imageFile, { 'attr' : { 'class' : 'custom-file-input','id' : 'fichier' } }) }}
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="form-row" style="margin-top: 16px;margin-bottom: 10px;">
                    {{ form_widget(competitionform.Valider, { 'attr': {'class': 'btn btn-dark'} }) }}
                    <button  onclick="verif()" id="ver" type="button" class="btn btn-dark">Valider</button>
                </div>


                {{ form_end(competitionform) }}
            </div>
        </div>
        <div class="col">
            <div id="map"></div>

            <!--<p id="lat" name="lat">lat</p>-->
            <!--<p id="lng" name="lng">lng</p>-->

            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" id="lat" name="lat" placeholder="lat">
                </div>
                <div class="col">
                    <input class="form-control" type="text" id="lng" name="lng" placeholder="lng">
                </div>
            </div>
            {#<input type="text" id="lieu" name="lieu" placeholder="lieu">#}
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{{ asset('FrontOffice/js/notify.min.js') }}"></script>
    <script>
    document.getElementById("eventsbundle_competition_lat").style.display ="none";
    document.getElementById("eventsbundle_competition_lng").style.display ="none";
    document.getElementById("eventsbundle_competition_Valider").style.display ="none";
    function verif() {
        var name=document.getElementById("eventsbundle_competition_namecomp").value;
        var price=document.getElementById("eventsbundle_competition_pricecomp").value;
        var description=document.getElementById("eventsbundle_competition_desccomp").value;
        var nbrmaxspec=document.getElementById("eventsbundle_competition_nbrmaxspec").value;
        var nbrmaxpar=document.getElementById("eventsbundle_competition_nbrmaxpar").value;

        var location=document.getElementById("eventsbundle_competition_location").value;
        var lng=document.getElementById("eventsbundle_competition_lng").value;
        var startingdate_y=document.getElementById("eventsbundle_competition_startingdate_year").value;
        var startingdate_m=document.getElementById("eventsbundle_competition_startingdate_month").value;
        var startingdate_d=document.getElementById("eventsbundle_competition_startingdate_day").value;

        var endingdate_y=document.getElementById("eventsbundle_competition_endingdate_year").value;
        var endingdate_m=document.getElementById("eventsbundle_competition_endingdate_month").value;
        var endingdate_d=document.getElementById("eventsbundle_competition_endingdate_day").value;
        var fichier=document.getElementById("eventsbundle_competition_imageFile_file").value;

        if ((name=="") || (price=="") || (description=="") || (nbrmaxspec=="") || (nbrmaxpar=="") || (location=="") || (fichier=="")){

            $("#ver").notify(
                "please fill all fields ",
                { position:"right" }
            );
            //console.log(" name :",name," price :",price," description :",description," nbrmaxspecv :",nbrmaxspec," nbrmaxpar :",nbrmaxpar," location :",location," startingdate year :",startingdate_y," endingdate year :",endingdate_y," fichier :",fichier)
        }else{
            if (endingdate_y<startingdate_y){

                $("#ver").notify(
                    "starting year cant be bigger than ending year ",
                    { position:"right" }
                );
            }else if (endingdate_y==startingdate_y){
                if (endingdate_m<startingdate_m){

                    $("#ver").notify(
                        "starting month cant be bigger than ending month ",
                        { position:"right" }
                    );
                }else if (endingdate_m==startingdate_m){
                    if (endingdate_d<startingdate_d){

                        $("#ver").notify(
                            "starting day cant be bigger than ending day ",
                            { position:"right" }
                        );
                    }
                }
            }else{
                if (price<0){

                    $("#ver").notify(
                        "price can't be negative ",
                        { position:"right" }
                    );
                }else if (nbrmaxspec==0 || nbrmaxpar==0 || nbrmaxspec<0 || nbrmaxpar<0){

                    $("#verif").notify(
                        "number can't be negative or null ",
                        { position:"right" }
                    );
                }else if (lng==""){

                    $("#ver").notify(
                        "please use the map to fill the location ",
                        { position:"right" }
                    );
                }else {

                    $("#ver").notify(
                        "success ",
                        { position:"right" }
                    );
                    document.getElementById('eventsbundle_competition_Valider').click();
                }
            }
        }
    }
</script>

    <script>
        var map = L.map('map').setView([36.746226, 10.235290], 12);
        var tiles = L.esri.basemapLayer("Streets").addTo(map);

        var searchControl = L.esri.Geocoding.geosearch().addTo(map);

        var results = L.layerGroup().addTo(map);

        searchControl.on("results", function(data) {
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
                results.addLayer(L.marker(data.results[i].latlng));
                /*var lat = data.results[i].latlng.lat;
                var lng = data.results[i].latlng.lng;*/
                /*console.log(lat);
                console.log(lng);
                console.log(data.results[i].properties.PlaceName);*/
                document.getElementById("lat").value = data.results[i].latlng.lat;
                document.getElementById("lng").value = data.results[i].latlng.lng;
                //document.getElementById("lieu").value = data.results[i].properties.PlaceName;
                document.getElementById("eventsbundle_competition_location").value = data.results[i].properties.PlaceName;
                document.getElementById("eventsbundle_competition_lat").value = data.results[i].latlng.lat;
                document.getElementById("eventsbundle_competition_lng").value = data.results[i].latlng.lng;

            }
        });
    </script>
{% endblock %}