<h3>We are Taland team</h3>

<p>Hi {{ nameReciever }}, we send you this mail to inform you that {{ nameSender }}({{ emailSender }}) want to buy your product
{{ productName }}.<br>
confirm  <a href="http://127.0.0.1:8000/Products/getProducts/{{ productId }}">Here</a></p>