<h3>We are Taland team</h3>

<p>Hi {{ nameReciever }}, we send you this mail to inform you that {{ nameSender }}({{ emailSender }}) want to buy your product
    {{ productName }}.<br>
    confirm  <a href="http://localhost/taland/web/app_dev.php/Products/getProducts/{{ productId }}">Here</a></p>