<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="C:\wamp\www\TalandWEB\web/FrontOffice/img/core-img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="C:\wamp\www\TalandWEB\web\FrontOffice\style.css">

</head>
<body>
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-2 col-md-1">
                <a href="#"><img src="C:\wamp\www\TalandWEB\web\FrontOffice\img\core-img\logo.png" alt=""></a>
            </div>

        </div>
    </div>
</footer>


<div class="container">

    <h1>Facture</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Owner</th>
            <th>Price</th>

        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.userid.firstname }} {{ item.product.userid.lastname|upper }}</td>
                <td class="text-right">{{ item.product.price }}</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td class="text-right"><h3>Total:</h3></td>
            <td></td>
            <td class="text-right"><h3>{{ total }}</h3></td>

        </tr>
        </tfoot>
    </table>


<p>We will send mails to the owners to contact you.</p>
</div>

</body>
</html>


