{% extends "default/Layout.html.twig" %}
{% block title %}Products{% endblock %}
{% block section %}


    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See what’s new</p>
                        <h2>Buy What’s New</h2>
                    </div>
                </div>
            </div>
            <section class="album-catagory section-padding-100-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">

                                <a href="#" data-filter=".a">A</a>
                                <a href="#" data-filter=".b">B</a>
                                <a href="#" data-filter=".c">C</a>
                                <a href="#" data-filter=".d">D</a>
                                <a href="#" data-filter=".e">E</a>
                                <a href="#" data-filter=".f">F</a>
                                <a href="#" data-filter=".g">G</a>
                                <a href="#" data-filter=".h">H</a>
                                <a href="#" data-filter=".i">I</a>
                                <a href="#" data-filter=".j">J</a>
                                <a href="#" data-filter=".k">K</a>
                                <a href="#" data-filter=".l">L</a>
                                <a href="#" data-filter=".m">M</a>
                                <a href="#" data-filter=".n">N</a>
                                <a href="#" data-filter=".o">O</a>
                                <a href="#" data-filter=".p">P</a>
                                <a href="#" data-filter=".q">Q</a>
                                <a href="#" data-filter=".r">R</a>
                                <a href="#" data-filter=".s">S</a>
                                <a href="#" data-filter=".t">T</a>
                                <a href="#" data-filter=".u">U</a>
                                <a href="#" data-filter=".v">V</a>
                                <a href="#" data-filter=".w">W</a>
                                <a href="#" data-filter=".x">X</a>
                                <a href="#" data-filter=".y">Y</a>
                                <a href="#" data-filter=".z">Z</a>
                                <a href="#" data-filter=".number">0-9</a>
                            </div>
                        </div>
                    </div>
                    {#here ----------------------#}
                    <div class="row oneMusic-albums" style="position: relative; height: 263px;">
                        {% for p in Produit %}





                            <!-- Single Album -->
                            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item {{ p.name|first }}"
                                 style="position: absolute; left: 16.6667%; top: 0px; display: none;">
                                <div class="single-album">
                                    <img src="{{ asset('uploads/Products/'~p.imgsrc) }}" alt="">
                                    <div class="album-info">
                                        <a href="#">
                                            <h5>{{ p.name }}</h5>
                                        </a>
                                        <p>Songs</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {#end here---------------------#}
                    <div class="row">
                        {% for p in Produit %}
                            <!-- Single Album Area -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                                <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                                    <div class="single-album">
                                        <div class="play-icon">
                                            <a href="{{ path('get_product_by_id',{'id':p.id}) }}"
                                               class="video--play--btn">
                                                <img src="{{ asset('uploads/Products/'~p.imgsrc) }}" alt="">
                                            </a>
                                        </div>


                                        <!-- Album Price -->
                                        <div class="album-price">
                                            <p>${{ p.price }}</p>
                                        </div>
                                        <!-- Play Icon -->
                                        <div class="row">
                                            <div class="col-3">
                                                <form method="post" action="{{ path('delete_product',{'id':p.id}) }}"
                                                      onsubmit="return confirm('Etes vous sûr?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('delete'~p.id) }}">
                                                    <button class="btn btn-danger">Suprimer</button>
                                                </form>

                                            </div>
                                            <div class="col-3">
                                                <form method="post" action="{{ path('delete_product',{'id':p.id}) }}"
                                                      onsubmit="return confirm('Etes vous sûr?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('delete'~p.id) }}">
                                                    <button class="btn btn-primary">Add to cart</button>
                                                </form>

                                            </div>


                                        </div>

                                        <div class="album-info">
                                            <a href="#">
                                                <h5>{{ p.name }}</h5>
                                            </a>
                                            <p>Radio Station</p>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        {% endfor %}
                    </div>


                </div>
            </section>
            <!-- ##### Album Catagory Area End ##### -->

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="play-icon">
        <a href="{{ path('add_product') }}" class="video--play--btn"><img src="{{ asset('uploads/Products/add.png') }}"
                                                                          height="50" width="50"/></a>
    </div>
    <!-- ##### Buy Now Area End ##### -->
    <!-- ##### Album Catagory Area Start ##### -->


    <script src="{{ asset('FrontOffice/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ asset('FrontOffice/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('FrontOffice/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ asset('FrontOffice/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ asset('FrontOffice/js/active.js') }}"></script>

{% endblock %}
