{% extends "default/Layout.html.twig" %}
{% block header %}{% endblock %}
{% block section %}

    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Post Start -->
                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a href="#"><img src="{{ asset('uploads/Products/'~product.imgsrc) }}" alt=""></a>
                            <!-- Post Date -->
                            <div class="post-date">
                                <span>{{ product.date|date("d") }}</span>
                                <span>{{ product.date|date("m'y") }}</span>
                            </div>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Post Title -->
                            <a href="#" class="post-title">{{ product.name }}</a>
                            <!-- Post Meta -->
                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">By<a href="#"> {{product.userId.firstname}} {{ product.userId.lastname|upper }}</a></p>

                            </div>
                            <!-- Post Excerpt -->
                            <p>{{ product.category.name }}
                                Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis metus
                                sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu
                                justo. Vivamus mollis metus sem, ac sodales dui lobortis.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}