{% extends "default/Layout.html.twig" %}
{% block header %}{% endblock %}
{% block section %}

    <div class="blog-area section-padding-100">
        <div class="container">
            {% for message in app.flashes('successSold') %}

                <div class="alert alert-success">{{ message }}

                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Post Start -->
                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a href="#"><img src="{{ asset('uploads/Products/'~product.imgsrc) }}" alt=""></a>
                            <!-- Post Date -->
                            <div class="post-date">
                                <span>{{ product.date|date("d") }}</span>
                                <span>{{ product.date|date("m'y") }}</span>
                            </div>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Post Title -->
                            <a href="#" class="post-title">{{ product.name }}</a>
                            <!-- Post Meta -->
                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">By<a href="#"> {{product.userId.firstname}} {{ product.userId.lastname|upper }}</a></p>

                            </div>
                            <!-- Post Excerpt -->
                            <p>@Category: {{ product.category.name }}<br>
                                Let your talent shine.</p>
                        </div>
                    </div>


                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.id == product.userid.id %}
            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp js-loadMoreDiv" data-wow-delay="300ms">
                        <a href="{{ path('sell_product',{'id':product.id}) }}"
                           class="btn oneMusic-btn js-loadMore">Sell <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}