{% extends 'baseBack.html.twig' %}

{% block body %}




    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index-2.html"><img class="brand-logo" alt="Chameleon admin logo" src="images/logo/logo.png"/>
                        <h3 class="brand-text">Chameleon</h3></a></li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="navigation-background"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="index-2.html"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-activity"></i><span class="menu-title" data-i18n="">Competitions</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-clipboard"></i><span class="menu-title" data-i18n="">Events</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-calendar"></i><span class="menu-title" data-i18n="">Deals</span><span class="badge badge badge-pill badge-danger float-right mr-2">5</span></a>
                </li>

                <li class=" nav-item"><a href="#"><i class="ft-shopping-cart"></i><span class="menu-title" data-i18n="">Store</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-tv"></i><span class="menu-title" data-i18n="">Posts</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-users"></i><span class="menu-title" data-i18n="">Users</span></a>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-grid"></i><span class="menu-title "  style="color: #be8b01" data-i18n="">TV shows</span></a>
                    <ul>
                        <li><a class="my-1" href="{{ asset('/talandWEB/web/app_dev.php/tvshow/new')}}"> ajouter </a></li>
                        <li><a class="my-1" href="{{ asset('/talandWEB/web/app_dev.php/tvshow/affichetvshowadmin/')}}"> afficher</a></li>
                        <li><a class="my-1" href="{{ asset('/talandWEB/web/app_dev.php/reclamationtvshow/')}}"> Réclamation</a></li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-bar-chart-2"></i><span class="menu-title" data-i18n="">Forum</span></a>
                    <ul>
                        <li><a class="my-1" href="chat-application.html"> Forum</a></li>
                        <li><a class="my-1" href="table-bootstrap.html"></i> News</a></li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="ft-sliders"></i><span class="menu-title" data-i18n="">Settings</span></a>
                </li>
                <li class=" nav-item"><a href="changelog.html"><i class="ft-log-out"></i><span class="menu-title" data-i18n="">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">Bootstrap Tables</h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Tables</a>
                                </li>
                                <li class="breadcrumb-item active">Basic Tables
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">




                <!-- Table head options start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Reports</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form method="get" action="{{ path('recherche') }}">
                                        <input placeholder="chercher "  style="margin-left: 200px"   name="motcle" onkeyup="myFunction()" class="form-control round-form" type="text" style="color: #c2c2c2;margin-left: 750px;height:20px;width: 10px "/>
                                    </form >

                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="myTable">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Tv Show</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Reason</th>
                                            <th scope="col">Response Type</th>
                                            <th scope="col">Etat</th>
                                            <th scope="col">Validate</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for reclamationtvshow in reclamationtvshows %}
                                        <tr>
                                            <td>{{ reclamationtvshow.tvshow.name }}</td>
                                            <td>{{ reclamationtvshow.idu }}</td>
                                            <td scope="row" name="nom" >{{ reclamationtvshow.reason }}</td>
                                            <td>{{ reclamationtvshow.responsetype }}</td>
                                            <td>{% if reclamationtvshow.etat == 0 %}
                                                    ❌
                                                 {% else %}
                                                     ✔️
                                                     {% endif %}
                                            </td>
                                            <td> <button type="button" class="btn btn-success mr-1">
                                                    <i class="ft-eye" ></i>  <a class="my-1" href="{{ path('reclamationtvshow_edit',{'id' :reclamationtvshow.id}) }}"> Mark As Seen</a>
                                                </button></td>

                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table head options end -->




            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-xl-block"><a class="customizer-close" href="#"><i class="ft-x font-medium-3"></i></a><a class="customizer-toggle bg-primary box-shadow-3" href="#" id="customizer-toggle-setting"><i class="ft-settings font-medium-3 spinner white"></i></a><div class="customizer-content p-2">
            <h5 class="mt-1 mb-1 text-bold-500">Navbar Color Options</h5>
            <div class="navbar-color-options clearfix">
                <div class="gradient-colors mb-1 clearfix">
                    <div class="bg-gradient-x-purple-blue navbar-color-option" data-bg="bg-gradient-x-purple-blue" title="bg-gradient-x-purple-blue"></div>
                    <div class="bg-gradient-x-purple-red navbar-color-option" data-bg="bg-gradient-x-purple-red" title="bg-gradient-x-purple-red"></div>
                    <div class="bg-gradient-x-blue-green navbar-color-option" data-bg="bg-gradient-x-blue-green" title="bg-gradient-x-blue-green"></div>
                    <div class="bg-gradient-x-orange-yellow navbar-color-option" data-bg="bg-gradient-x-orange-yellow" title="bg-gradient-x-orange-yellow"></div>
                    <div class="bg-gradient-x-blue-cyan navbar-color-option" data-bg="bg-gradient-x-blue-cyan" title="bg-gradient-x-blue-cyan"></div>
                    <div class="bg-gradient-x-red-pink navbar-color-option" data-bg="bg-gradient-x-red-pink" title="bg-gradient-x-red-pink"></div>
                </div>
                <div class="solid-colors clearfix">
                    <div class="bg-primary navbar-color-option" data-bg="bg-primary" title="primary"></div>
                    <div class="bg-success navbar-color-option" data-bg="bg-success" title="success"></div>
                    <div class="bg-info navbar-color-option" data-bg="bg-info" title="info"></div>
                    <div class="bg-warning navbar-color-option" data-bg="bg-warning" title="warning"></div>
                    <div class="bg-danger navbar-color-option" data-bg="bg-danger" title="danger"></div>
                    <div class="bg-blue navbar-color-option" data-bg="bg-blue" title="blue"></div>
                </div>
            </div>

            <hr>

            <h5 class="my-1 text-bold-500">Layout Options</h5>
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="default-layout" checked>
                        <label class="custom-control-label" for="default-layout">Default</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="fixed-layout">
                        <label class="custom-control-label" for="fixed-layout">Fixed</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="static-layout">
                        <label class="custom-control-label" for="static-layout">Static</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="boxed-layout">
                        <label class="custom-control-label" for="boxed-layout">Boxed</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-block custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input bg-primary" name="right-side-icons" id="right-side-icons">
                        <label class="custom-control-label" for="right-side-icons">Right Side Icons</label>
                    </div>
                </div>
            </div>

            <hr>

            <h5 class="mt-1 mb-1 text-bold-500">Sidebar menu Background</h5>
            <!-- <div class="sidebar-color-options clearfix">
                <div class="bg-black sidebar-color-option" data-sidebar="menu-dark" title="black"></div>
                <div class="bg-white sidebar-color-option" data-sidebar="menu-light" title="white"></div>
            </div> -->
            <div class="row sidebar-color-options ml-0">
                <label for="sidebar-color-option" class="card-title font-medium-2 mr-2">White Mode</label>
                <div class="text-center mb-1">
                    <input type="checkbox" id="sidebar-color-option" class="switchery" data-size="xs"/>
                </div>
                <label for="sidebar-color-option" class="card-title font-medium-2 ml-2">Dark Mode</label>
            </div>

            <hr>

            <label for="collapsed-sidebar" class="font-medium-2">Menu Collapse</label>
            <div class="float-right">
                <input type="checkbox" id="collapsed-sidebar" class="switchery" data-size="xs"/>
            </div>

            <hr>

            <!--Sidebar Background Image Starts-->
            <h5 class="mt-1 mb-1 text-bold-500">Sidebar Background Image</h5>
            <div class="cz-bg-image row">
                <div class="col mb-3">
                    <img src="images/backgrounds/04.jpg" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="images/backgrounds/01.jpg" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="images/backgrounds/02.jpg" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="images/backgrounds/05.jpg" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
                </div>
            </div>
            <!--Sidebar Background Image Ends-->

            <!--Sidebar BG Image Toggle Starts-->
            <div class="sidebar-image-visibility">
                <div class="row ml-0">
                    <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 mr-2">Hide Image</label>
                    <div class="text-center mb-1">
                        <input type="checkbox" id="toggle-sidebar-bg-img" class="switchery" data-size="xs" checked/>
                    </div>
                    <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 ml-2">Show Image</label>
                </div>
            </div>
            <!--Sidebar BG Image Toggle Ends-->

            <hr>

            <div class="row mb-2">
                <!-- <div class="col">
                    <a href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" class="btn btn-danger btn-block box-shadow-1" target="_blank">Buy Now</a>
                </div> -->
                <div class="col">
                    <a href="https://themeselection.com/" class="btn btn-primary btn-block box-shadow-1" target="_blank">More Themes</a>
                </div>
            </div>
            <div class="text-center">
                <button id="twitter" class="btn btn-social-icon btn-twitter sharrre mr-1"><i class="la la-twitter"></i></button>
                <button id="facebook" class="btn btn-social-icon btn-facebook sharrre mr-1"><i class="la la-facebook"></i></button>
                <button id="google" class="btn btn-social-icon btn-google sharrre"><i class="la la-google"></i></button>
            </div>
        </div>
    </div>
    <!-- End: Customizer-->

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


{% endblock %}