{% extends "default/LayoutFront.html.twig" %}





{% block section %}


    <div class="container">
        <div style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.37);border-radius: 14px;margin-bottom: 14px;height: 694px;" class="row">

            <div class="col-md-12 col-md-offset-3">
                <div id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Story/Post</li>
                        <li>TRIP Information</li>
                        <li>Physical and Financial Status</li>
                        <li>Submit</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <input style="display: none;" type="number" style="display: block;" id="type" value="">
                        <h2 class="fs-title">Add a new post</h2>
                        <h3 class="fs-subtitle">What would you post</h3>
                        <div class="row">
                            <div class="col">
                                {#<button><img style="border: 3px solid white;" src="{{ asset('uploads/posts/post.png') }}" alt=""></button>#}
                                <div class="content-item">
                                    <div class="icon">
                                        <img src="{{ asset('uploads/posts/brush.png') }}">
                                        <h5>Post</h5>
                                    </div>
                                    <button onclick="choosepost();" style="width: 420px;padding: inherit;border: none;" class="pic btn btn-outline-danger" >
                                        <img src="{{ asset('uploads/posts/post.png') }}">
                                    </button>
                                </div>
                            </div>
                            <div class="col">

                                <div class="content-item">
                                    <div class="icon">
                                        <img src="{{ asset('uploads/posts/hot-dog.png') }}">
                                        <h5>Story</h5>
                                    </div>
                                    <button onclick="choosestory();" style="width: 390px;padding: inherit;border: none;" class="pic btn btn-outline-info">
                                        <img  src="{{ asset('uploads/posts/story.png') }}">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input disabled id="firstnext" type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>

                    <fieldset>
                        <h2 class="fs-title">TRIP Information</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="text" name="twitter" placeholder="Twitter"/>
                        <input type="text" name="facebook" placeholder="Facebook"/>
                        <input type="text" name="gplus" placeholder="Google Plus"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>

                    <fieldset>
                        <h2 class="fs-title">Physical and Financial Status</h2>
                        <h3 class="fs-subtitle">Your presence on the social network</h3>
                        <input type="text" name="twitter" placeholder="Twitter"/>
                        <input type="text" name="facebook" placeholder="Facebook"/>
                        <input type="text" name="gplus" placeholder="Google Plus"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>

                    <fieldset>
                        <h2 class="fs-title">Submit project</h2>
                        <h3 class="fs-subtitle">Fill in your credentials to authorize submission</h3>
                        <input type="text" name="email" placeholder="Username"/>
                        <input type="password" name="pass" placeholder="Password"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                    </fieldset>
                </div>
                <!-- link to designify.me code snippets -->
                <!-- /.link to designify.me code snippets -->
            </div>
        </div>
    </div>





{% endblock %}


{% block scripts %}
    <script src="{{ asset('FrontOffice/js/emojionearea.min.js')}}"></script>

    <script>//controle de saisie
        function choosepost() {
            document.getElementById("firstnext").disabled = false;
            document.getElementById("type").value = 0;
        }
        function choosestory() {
            document.getElementById("firstnext").disabled = false;
            document.getElementById("type").value = 1;
        }
    </script>








    <script>
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function(){
            if(animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50)+"%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale('+scale+')',
                        'position': 'absolute'
                    });
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 800,
                complete: function(){
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function(){
            if(animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1-now) * 50)+"%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                },
                duration: 800,
                complete: function(){
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function(){
            return false;
        })
    </script>
<script>
    document.getElementById("postsbundle_posts_imageFile_file").required = false;
    $(document).ready(function () {
        $("#postsbundle_posts_description").emojioneArea({
            pickerPosition: "bottom",
            saveEmojisAs: "shortname"
        });
    });
    new Glide(".images",{
        type: 'carousel',
        perView: 5,
        focusAt: 'center',
        gap: 40,
        breakpoints: {
            1200:{
                perView: 3
            },
            800:{
                perView: 2
            }
        }
    }).mount();

    function afficherform() {
        document.getElementById("fich").style.display="flex";
        document.getElementById("sub").style.display="flex";
        document.getElementById("addp").style.display="none";
    }

    function choose(choice) {
        document.getElementById("imgdb").src = ''.concat("/taland/web/uploads/posts/default",choice,'.jpg');
    }
    function AddPost() {
        var des = $("#postsbundle_posts_description").data("emojioneArea").getText();
        var str = document.getElementById("imgdb").src;
        var res = str.substring(42);
        //console.log("image :",res);
        $.ajax({
            url: 'AddP/' + res + "/" + des,
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Ajax request failed.");

            }
        });


    }

</script>
{% endblock %}
