<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://ampbyexample.com/stories/monetization/doubleclick/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Stories</title>

    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>

    <script async custom-element="amp-story-auto-ads" src="https://cdn.ampproject.org/v0/amp-story-auto-ads-0.1.js"></script>

    <!-- <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript> -->
    <style amp-custom>
        * {
            box-sizing: border-box;
        }
        amp-story * {
            font-family: 'Helvitica Nueve', sans-serif;
            color: white;
        }
        amp-story-page {
            background: white;
        }
        amp-story h1 {
            font-size: 46px;
        }
        amp-story h2 {
            font-size: 36px;
        }
        amp-story p {
            font-size: 16px;
            line-height: 24px;
        }
        .bold {
            font-weight: bold;
        }
        .bottom {
            align-content: end;
        }
        .medium {
            font-weight: 600;
        }
        .first {
            padding-top: 65px;
        }
        .last {
            padding-bottom: 65px;
        }
        .blue {
            color: #4285F4;
        }
        .twenty-px {
            font-size: 20px;
        }
        .center {
            text-align: center;
        }
        .lh30 {
            line-height: 30px;
        }
        .icon {
            background-image: url(https://ampbyexample.com/img/AMP-Brand-White-Icon.svg);
            background-repeat: no-repeat;
            background-size: 50px 50px;
            height: 50px;
            object-fit: contain;
            width: 50px;
        }
        .byline {
            letter-spacing: 1.28px;
            padding-bottom: 58px;
        }
        .introducing * {
            line-height: 42px;
        }
        .subtitle-page {
            padding-top: 80px;
        }
        .button {
            align-items: center;
            border: 4px solid #FFFFFF;
            color: #FFFFFF;
            display: flex;
            height: 60px;
            margin: 0 auto;
            max-width: 240px;
            text-decoration:none;
        }
        .button p {
            font-size: 20px;
            width: 100%;
        }
        amp-ad[template="image-template"] img,
        amp-ad[template="video-template"] {
            object-fit: cover;
        }
        ::cue {
            background-color: rgba(0, 0, 0, 0.75);
            font-size: 24px;
            line-height: 1.5;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('FrontOffice/css/bootstrap.min.css')}}">
</head>
<body>

<amp-story standalone
           title="Key Highlights of AMP Conf 2018"
           publisher="The AMP team"
           publisher-logo-src="https://ampbyexample.com/img/AMP-Brand-White-Icon.svg"
           poster-portrait-src="https://ampbyexample.com/img/overview.jpg">
    <a href="{{ path('get_posts') }}" class="btn btn-outline-dark" style="z-index: 1;margin-top: 18px;margin-left: 11px;border-color: #ffffff87;color: #ffffff87;">Back</a>
    {% for row in stories %}
        {% set i = ( i | default(0) ) %}



    <amp-story-page id="page-{{ i }}">
        <amp-story-grid-layer template="fill">
            <h3 style="z-index: 1;margin-left: 70px;margin-top: 25px;" >{{ row.idu.firstname }} {{ row.idu.lastname }}</h3>
            <img style="max-width: 60px;z-index: 1;border-radius: 50%;margin-top: 5px;margin-left: 5px;" src="{{ asset('uploads/posts/' ~ row.idu.imageName) }}" alt="">
            {% set foo = row.imageName|split('.') %}
                {% if foo[1]=="mp4" %}
                    <amp-video autoplay loop
                               width="400"
                               height="750"
                               layout="fill">
                        <source src="{{ asset('uploads/posts/' ~ row.imageName) }}" type="video/mp4">
                    </amp-video>
                {% else %}
                    <amp-img width="400" height="750" layout="fill" src="{{ asset('uploads/posts/' ~ row.imageName) }}"></amp-img>
                {% endif %}
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical" class="bottom">
            <p>{{ row.description }}</p>
        </amp-story-grid-layer>
    </amp-story-page>



        {% set i = ( i | default(0) ) + 1 %}




    {% endfor %}






</amp-story>


<script src="{{ asset('FrontOffice/jstest/vendor/jquery-3.2.1.min.js')}}"></script>
<script>


    $(document).ready(function () {
        var stories = [];
        $.ajax({
            url: 'DStories',
            success: function (data) {
                stories=data;
                var active = stories[0]["idPost"];
                //console.log($(".i-amphtml-story-button-move")[0].getAttribute("aria-label"));
                /*$(".i-amphtml-story-button-move")[0].addEventListener("mouseover", function () {
                    console.log("button was over");
                });*/
                /*$(".i-amphtml-story-button-move").addEventListener("mouseover", function () {
                    console.log("button was over");
                });*/

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Ajax request failed.");
            }
        });






    });
</script>

</body>



</html>