{% extends "default/LayoutFront.html.twig" %}



{% block section %}

    {#<div class="gallery-header">
        <ul class="gallery-filter">
            <li class="filter all active" data-filter="*">All</li>
            <li class="filter" data-filter=".featured">Featured</li>
            <li class="filter" data-filter=".people">People</li>
            <li class="filter" data-filter=".nature">Nature</li>
            <li class="filter" data-filter=".animal">Animal</li>
            <li class="filter" data-filter=".travel">Travel</li>
        </ul>
    </div>#}
        <div class="gallery-warp">
            <div class="grid-sizer"></div>
            {% for i in 0..result|length-1 %}
                    {% if i<result|length-3 %}
                        {% set class = random(['gi-big', 'gi-long', 'nature','people','travel','featured','animal']) %}
                    {% endif %}

                <div class="gallery-item {{ class }}">
                    <a class="fresco" href="{{ asset('FrontOffice/img/gallery/1.jpg')}}" data-fresco-group="projects">
                        <img style="border-radius: 7px;" src="{{ asset('FrontOffice/img/gallery/1.jpg')}}" alt="">
                    </a>
                    <div class="gi-hover">
                        <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                        <h6>{{ result[i].idu.firstname }} {{ result[i].idu.lastname }}<br><p style="color: white;font-size: 16px;">@{{ result[i].idu.username }}<p></h6>
                    </div>
                    <div class="gi-hover-des">
                        <h6>{{ result[i].description }}</h6>
                    </div>
                </div>
            {% endfor %}

{#

                           <div class="gallery-item gi-big featured">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/1.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/1.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item people">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/2.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/2.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item nature">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/3.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/3.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item gi-long travel">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/4.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/4.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item gi-big animal">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/6.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/6.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item gi-big featured">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/5.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/5.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item travel">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/7.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/7.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item people">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/8.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/8.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>
                           <div class="gallery-item animal">
                               <a class="fresco" href="{{ asset('FrontOffice/img/gallery/9.jpg')}}" data-fresco-group="projects">
                                   <img src="{{ asset('FrontOffice/img/gallery/9.jpg')}}" alt="">
                               </a>
                               <div class="gi-hover">
                                   <img src="{{ asset('FrontOffice/img/gallery/author.jpg')}}" alt="">
                                   <h6>Arthur Rose</h6>
                               </div>
                           </div>


 #}
           </div>

    {#
        <table border="1">
            <thead>
            <th>idPost</th>
            <th>idu</th>
            <th>description</th>
            <th>source</th>
            <th>dateCreation</th>

            <th>Modifier</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row.idPost }}</td>
                    <td>{{ row.idu.id }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.source }}</td>
                    <td>{{ row.dateCreation|date("m/d/Y") }}</td>

                    <td><a href="{{path('update_post',{'id':row.idPost})}}">Modifier </a></td>
                    <td><a href="{{path('delete_post',{'id':row.idPost})}}">Supprimer </a></td>
                    <td><a href="{{path('add_comment',{'id':row.idPost})}}">Add comment </a></td>
                    <td><a href="{{path('get_comments',{'id':row.idPost})}}">Display comments </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add_post') }}">Ajouter Post</a>#}
{% endblock %}