{% extends "default/LayoutFront.html.twig" %}



{% block section %}



        <div class="row">
            <div class="col">
                <div style="display:flex;">
                <div style="width: 590px;" >
                    <h2 style="margin-left: 25px;">Trending</h2>
                    <h6 style="margin-left: 25px;margin-top: 8px">Watch the latest posts from our community</h6>
                </div>

                <div style="width: 565px;">
                  <h6 style="margin-top: 8px">Search for users :</h6>
                 <input  type="text" id="search-bar" autocomplete="off" />
                   <ul class="output" style="display:none;width: 565px;"></ul>
                </div>

                </div>



                <a id="redirectlogin" href="{{ path('fos_user_security_login') }}"></a>

                <div class="contain">
                    {% set i = 0 %}
                    {% for row in result %}
                        {% if row.type ==1 or row.archive==1 %}
                            <div id="box{{ row.idpost }}" style="display: none;" class="boxes">
                        {% else %}
                            <div id="box{{ row.idpost }}" class="boxes">
                        {% endif %}

                                {% set foo = row.imageName|split('.') %}
                                {% if foo[1]=="mp4" %}

                                        <video id="vids" class="vid" style="border-radius: 13px;max-width: 100%;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);object-fit: cover;" loop>
                                            <source id="video{{ row.idpost }}" src="{{ asset('uploads/posts/' ~ row.imageName) }}" type="video/mp4">
                                        </video>

                                        <div style="  background-image: url({{ asset('uploads/posts/play.png') }});background-repeat: no-repeat;width: 24%;height: 50%;position: absolute;left: 0%;right: 0%;top: 0%;bottom: 0%;margin: auto;background-size: contain;background-position: center;opacity: 0.9;" class="playpause"></div>

                                {% else %}
                                    <img src="{{ asset('uploads/posts/' ~ row.imageName) }}">
                                {% endif %}


                                <div style="position: absolute;top: -3px;left: 17px;margin-top: 20px;margin-bottom: 20px;" class="media border-0">
                                    <div class="media-left pr-1">
                                    <span class="avatar avatar-md avatar-online">
                                        <img  data-toggle="tooltip" data-placement="right" title="{{ row.idu.firstname }} {{ row.idu.lastname }}" style="height: 50px;margin-right: 10px;" class="media-object rounded-circle" src="{{ asset('uploads/posts/' ~ row.idu.imageName) }}" alt="Generic placeholder image">
                                        {% if connected!=null %}
                                            {% if connected.id==row.idu.id %}
                                                <a onclick="removepost({{ row.idpost }})" style="background: none;color: gray;position: relative;left: 91px;top: -10px;z-index: 1" class="btn"><i class="fa fa-trash"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    </div>
                                </div>

                                <div class="details">

                                    <span class="info">{{ row.description }}</span>

                                    <span class="info">
                                    {% if (connected==null) %}
                                        <div id="reacts" class="reacts">
                                          <div class="circle"><button onclick="react(0,{{ row.idPost }},1);" style="background: none;border: none;cursor: pointer;"><img style="margin-left: -6px;" src="{{ asset('uploads/reacts/heart.png') }}" alt=""/></button>
                                            <p>Love</p>
                                          </div>
                                          <div class="circle"><button onclick="react(0,{{ row.idPost }},2);" style="background: none;border: none;cursor: pointer;"><img src="{{ asset('uploads/reacts/haha.png') }}" alt=""/></button>
                                            <p>Haha</p>
                                          </div>
                                          <div class="circle"><button onclick="react(0,{{ row.idPost }},3);" style="background: none;border: none;cursor: pointer;"><img style="margin-left: 6px;" src="{{ asset('uploads/reacts/triste.png') }}" alt=""/></button>
                                            <p>Sad</p>
                                          </div>
                                          <div style="margin-left: 6px;" class="circle"><button onclick="react(0,{{ row.idPost }},4);" style="background: none;border: none;cursor: pointer;"><img src="{{ asset('uploads/reacts/grr.png') }}" alt=""/></button>
                                            <p>Grr</p>
                                          </div>
                                        </div>
                                        <button id="likecontainer{{ row.idPost }}" style="background-color: #dc35457d;border-color: #dc35457d;border-radius: 30px" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><i class="ft-heart"></i></button>
                                    {% endif %}


                                     {% if (connected!=null) %}

                                        <div id="reacts" class="reacts">
                                          <div class="circle"><button onclick="react({{ connected.id }},{{ row.idPost }},1);" style="background: none;border: none;cursor: pointer;"><img style="margin-left: -6px;" src="{{ asset('uploads/reacts/heart.png') }}" alt=""/></button>
                                            <p>Love</p>
                                          </div>
                                          <div class="circle"><button onclick="react({{ connected.id }},{{ row.idPost }},2);" style="background: none;border: none;cursor: pointer;"><img src="{{ asset('uploads/reacts/haha.png') }}" alt=""/></button>
                                            <p>Haha</p>
                                          </div>
                                          <div class="circle"><button onclick="react({{ connected.id }},{{ row.idPost }},3);" style="background: none;border: none;cursor: pointer;"><img style="margin-left: 6px;" src="{{ asset('uploads/reacts/triste.png') }}" alt=""/></button>
                                            <p>Sad</p>
                                          </div>
                                          <div style="margin-left: 6px;" class="circle"><button onclick="react({{ connected.id }},{{ row.idPost }},4);" style="background: none;border: none;cursor: pointer;"><img src="{{ asset('uploads/reacts/grr.png') }}" alt=""/></button>
                                            <p>Grr</p>
                                          </div>
                                        </div>



                                            {% if likes!=null %}
                                                {% if i!=likes|length %}
                                                    {% if likes[i].idPost==row.idPost %}
                                                        {% if likes[i].react==1 %}
                                                            <button id="likecontainer{{ row.idPost }}" style="background-color: #dc35457d;border-color: #dc35457d;border-radius: 30px" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><img style="margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;" src="{{ asset('uploads/reacts/heart.png')}}" alt=""></button>
                                                                {% elseif likes[i].react==2 %}
                                                            <button id="likecontainer{{ row.idPost }}" style="background-color: rgba(255, 193, 7, 0.51); border-color: rgba(255, 193, 7, 0.51); border-radius: 30px;" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><img style="margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;" src="{{ asset('uploads/reacts/haha.png')}}" alt=""></button>
                                                                    {% elseif likes[i].react==3 %}
                                                            <button id="likecontainer{{ row.idPost }}" style="background-color: rgba(255, 193, 7, 0.51); border-color: rgba(255, 193, 7, 0.51); border-radius: 30px;" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><img style="margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;" src="{{ asset('uploads/reacts/triste.png')}}" alt=""></button>
                                                                        {% elseif likes[i].react==4 %}
                                                            <button id="likecontainer{{ row.idPost }}" style="background-color: rgba(255, 193, 7, 0.51); border-color: rgba(255, 193, 7, 0.51); border-radius: 30px;" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><img style="margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;" src="{{ asset('uploads/reacts/grr.png')}}" alt=""></button>
                                                        {% endif %}
                                                            {% set i = i + 1 %}
                                                        {% else %}
                                                        <button id="likecontainer{{ row.idPost }}" style="background-color: #dc35457d;border-color: #dc35457d;border-radius: 30px" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><i class="ft-heart"></i></button>
                                                    {% endif %}
                                                    {% else %}
                                                    <button id="likecontainer{{ row.idPost }}" style="background-color: #dc35457d;border-color: #dc35457d;border-radius: 30px" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><i class="ft-heart"></i></button>
                                                    {% endif %}
                                                {% else %}
                                                 <button id="likecontainer{{ row.idPost }}" style="background-color: #dc35457d;border-color: #dc35457d;border-radius: 30px" class="btn btn-danger btn-min-width box-shadow-5 mr-1 mb-1 like"><i class="ft-heart"></i></button>
                                     {% endif %}

                                     {% endif %}




                                    <a href="{{path('single_post',{'id':row.idPost})}}" style="background-color: #ffffff85;border-color: #ffffff85;margin-left: 10px;color: black;border-radius: 30px" class="btn btn-outline-dark mr-1 comments"><i id="com" class="ft-message-square"></i></a>
                                    <a class="btn btn-outline-dark mr-1 fresco showmore"
                                       href="{{ asset('uploads/posts/' ~ row.imageName) }}"
                                       data-fresco-group="projects"
                                       data-fresco-caption="{{ row.description }}<br><a href='#'>youssef</a>"
                                       style="background-color: #ffffff85;border-color: #ffffff85;margin-left: 10px;color: black;border-radius: 30px" ><i id="maxi" class="ft-maximize-2"></i></a>
                                       </span>

                                       </div>

                                </div>

                    {% endfor %}


                </div>
            </div>



            <div style="max-width: 383px;height:300px;position: sticky;top: 0;" class="col">
                {% if connected!=null %}
                    <div style="margin-top: 20px;margin-bottom: 20px;" class="media border-0">
                        <div class="media-left pr-1">
                                <span class="avatar avatar-md avatar-online">
                                    <div style="background-color: #4cd137;height: 15px;width: 15px;border: 3px solid white;border-radius: 50%;position: absolute;left: 50px;top: 52px;" class="green_icon"></div>
                                    <img style="height: 50px;margin-right: 10px;border: 3px solid white;" class="media-object rounded-circle" src="{{ asset('uploads/posts/' ~ connected.imageName) }}" alt="Generic placeholder image">
                                    <i></i>
                                </span>
                        </div>
                        <div class="media-body w-100">
                                <span class="list-group-item-heading">{{ connected.firstname }} {{ connected.lastname }}

                                </span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"> @{{ connected.username }} </span>
                            </p>

                        </div>
                    </div>





                {% endif %}
                <div  style="padding-top: 10px;margin-right: 14px;height: 362px;" class="popular-artists-area mb-100 nice-scroll">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="50ms" style="margin-bottom: 5px ;visibility: visible; animation-delay: 50ms; animation-name: fadeInUp;">
                    {% if stories==null %}
                        <p>No available stories</p>
                    {% else %}
                        <p>See what’s new</p>
                        <h2>Stories</h2>
                        <a href="{{ path('display_stories') }}" style="position: absolute;top: 0;left: 189px;background: none;color: black;font-weight: 100;">Watch All</a>
                    {% endif %}
                    </div>
                    {% if stories!=null %}

                    {% for s in stories %}

                        <!-- Single Artist -->
                        <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" style="margin-bottom: 10px;visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                            <div class="thumbnail image_outer_container">
				                <div style="border-radius: 50%;padding: 2.2px;background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);" class="image_inner_container">
				                {% if connected!=null %}
				                    {% if s.idu.id==connected.id %}
				                        <div style="background-color: #4cd137;height: 15px;width: 15px;border: 3px solid white;border-radius: 50%;position: absolute;left: 42px;top: 47px;" class="green_icon"></div>
				                    {% endif %}
				                {% endif %}
                                <img style="border: 3px solid white;" src="{{ asset('uploads/posts/' ~ s.idu.imageName) }}" alt="">
                                </div>

                            </div>

                            <div class="content-" style="margin-bottom: 35px;">
                                <p>{{ s.idu.firstname }} {{ s.idu.lastname }}</p>
                            </div>
                        </div>
                        {% endfor %}

                    {% endif %}



                </div>
            </div>




        </div>




    {#
        <table border="1">
            <thead>
            <th>idPost</th>
            <th>idu</th>
            <th>description</th>
            <th>source</th>
            <th>dateCreation</th>

            <th>Modifier</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row.idPost }}</td>
                    <td>{{ row.idu.id }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.source }}</td>
                    <td>{{ row.dateCreation|date("m/d/Y") }}</td>

                    <td><a href="{{path('update_post',{'id':row.idPost})}}">Modifier </a></td>
                    <td><a href="{{path('delete_post',{'id':row.idPost})}}">Supprimer </a></td>
                    <td><a href="{{path('add_comment',{'id':row.idPost})}}">Add comment </a></td>
                    <td><a href="{{path('get_comments',{'id':row.idPost})}}">Display comments </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add_post') }}">Ajouter Post</a>#}



{% endblock %}

{% block scripts %}

<script>
$(document).ready(function () {
 var $imgs = [];
 var $usernames = [].sort(),
    $return = [];
        $.ajax({
           url: 'GetSearch',
              success: function (data) {
                $usernames=data;
                 },
               error: function (xhr, textStatus, errorThrown) {
                console.log("Ajax request failed.");
               }
        });
        $.ajax({
           url: 'GetSearchImg',
              success: function (data) {
                $imgs=data;

                 },
               error: function (xhr, textStatus, errorThrown) {
                console.log("Ajax request failed.");
               }
        });

  function strInArray(str, strArray) {
    for (var j = 0; j < strArray.length; j++) {
      if (strArray[j].match(str) && $return.length < 5) {
        var $h = strArray[j].replace(str, "<strong>" + str + "</strong>");
        $pc="<img style='height: 50px;margin-left :10px;margin-right :10px;border-radius:50%;' src='/taland/web/uploads/posts/".concat($imgs[j],"'>");
        $return.push(
          '<li class="prediction-item"><a style="color: gray;" href="{{ path('get_posts') }}">'+$pc+'<span class="prediction-text">' +
            $h+"</span></a></li>"
        );
      }
    }
  }

  function nextItem(kp) {
    if ($(".focus").length > 0) {
      var $next = $(".focus").next(),
        $prev = $(".focus").prev();
    }

    if (kp == 38) {
      // Up

      if ($(".focus").is(":first-child")) {
        $prev = $(".prediction-item:last-child");
      }

      $(".prediction-item").removeClass("focus");
      $prev.addClass("focus");
    } else if (kp == 40) {
      // Down

      if ($(".focus").is(":last-child")) {
        $next = $(".prediction-item:first-child");
      }

      $(".prediction-item").removeClass("focus");
      $next.addClass("focus");
    }
  }

  $(function () {
    $("#search-bar").keydown(function (e) {
      $key = e.keyCode;
      if ($key == 38 || $key == 40) {
        nextItem($key);
        return;
      }

      setTimeout(function () {
        var $search = $("#search-bar").val();
        $return = [];

        strInArray($search, $usernames);

        if ($search == "" || !$("input").val) {
          $(".output").html("").slideUp();
        } else {
          $(".output").html($return).slideDown();
        }

        $(".prediction-item").on("click", function () {
          $text = $(this).find("span").text();
          $(".output").slideUp(function () {
            $(this).html("");
          });
          $("#search-bar").val($text);
        });

        $(".prediction-item:first-child").addClass("focus");
      }, 50);
    });
  });

  $("#search-bar").focus(function () {
    if ($(".prediction-item").length > 0) {
      $(".output").slideDown();
    }

    $("#searchform").submit(function (e) {
      e.preventDefault();
      $text = $(".focus").find("span").text();
      $(".output").slideUp();
      $("#search-bar").val($text);
      $("input").blur();
    });
  });

  $("#search-bar").blur(function () {
    if ($(".prediction-item").length > 0) {
      $(".output").slideUp();
    }
  });
});


</script>


















    <script>

        $(function() {
            var reaction = $('.reacts'),
                like = $('.like'),
                comments = $('.ft-message-square'),
                maximize = $('.ft-maximize-2');

            //reaction.addClass('show');
            like.on('click',function() {
                if(reaction.hasClass('show')) {
                    reaction.css({
                        'display':'none',
                    });
                    comments.css({
                        'display':'flex',
                    });
                    maximize.css({
                        'display':'flex',
                    });
                    reaction.removeClass('show');
                }
                else {
                    reaction.css({
                        'display':'flex',
                    });
                    comments.css({
                        'display':'none',
                    });
                    maximize.css({
                        'display':'none',
                    });
                    reaction.addClass('show');
                }
            });
        });
    </script>
    
    
<script>
    $('.vid').parent().click(function () {
  if($(this).children(".vid").get(0).paused){
      $(this).children(".vid").get(0).play();
      $(this).children(".playpause").fadeOut();
    }
  else{
        $(this).children(".vid").get(0).pause();
        $(this).children(".playpause").fadeIn();
    }
});
    function removepost(idp) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                console.log("delete");
                $.ajax({
                    url: 'RemoveP/' + idp,
                    success: function (data) {
                        setTimeout(function(){$(boxid).hide()}, 700);
                        swal('Deleted!', 'Your Post has been deleted!', 'success');
                        var boxid="#box".concat(idp);
                        //console.log("box id :",boxid);
                        //document.getElementById(boxid).style.display="none";

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("Ajax request failed.");

                    }
                });
            }else{
                console.log("modify plz");
            }
        })
    }


    function react(idu,idPost,typereact) {
        if (idu==0){

            swal({
                title: 'Login first',
                text: "You have to login fisrt then react",
                type: 'info',
                footer: "<a style='color: dimgray;margin-top: -12px;margin-bottom: -12px;' href='{{ path('fos_user_registration_register') }}'>Register</a>",
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Login now!'
            }).then((result) => {
                if (result.value) {

                    document.getElementById('redirectlogin').click();
                    document.getElementById(container).innerHTML="<i class='ft-heart'></i>";
                    document.getElementById(container).style.backgroundColor= "#dc35457d";
                    document.getElementById(container).style.borderColor= "#dc35457d";
                    document.getElementById(container).style.borderRadius= "30px";
                }
            })

        }else{
            $.ajax({
                url: 'ReactPost/' + idPost + '/' + typereact,
                success: function (data) {

                    console.log("data :",data);
                    var container="likecontainer".concat(idPost);
                    document.getElementById(container).click();

                    if (data == "added"){
                        if (typereact==1){
                            document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('uploads/reacts/heart.png') }}' alt=''/>";

                            document.getElementById(container).style.backgroundColor= "#dc35457d";
                            document.getElementById(container).style.borderColor= "#dc35457d";
                            document.getElementById(container).style.borderRadius= "30px";
                        }else if (typereact==2){
                            document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('uploads/reacts/haha.png') }}' alt=''/>";

                            document.getElementById(container).style.backgroundColor= "#ffc10782";
                            document.getElementById(container).style.borderColor= "#ffc10782";
                            document.getElementById(container).style.borderRadius= "30px";
                        }else if (typereact==3)  {
                            document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('uploads/reacts/triste.png') }}' alt=''/>";
                            document.getElementById(container).style.backgroundColor= "#ffc10782";
                            document.getElementById(container).style.borderColor= "#ffc10782";
                            document.getElementById(container).style.borderRadius= "30px";
                        }else if (typereact==4)  {
                            document.getElementById(container).innerHTML="<img style='margin-left: -6px;width: 29px;position: relative;top: -1px;left: 3px;' src='{{ asset('uploads/reacts/grr.png') }}' alt=''/>";
                            document.getElementById(container).style.backgroundColor= "#ffc10782";
                            document.getElementById(container).style.borderColor= "#ffc10782";
                            document.getElementById(container).style.borderRadius= "30px";
                        }
                    }else if (data == "exists") {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonText: 'Modify'
                        }).then((result) => {
                            if (result.value) {
                                $.ajax({
                                    url: 'RemoveLike/' + idPost,
                                    success: function (data) {
                                        swal('Deleted!', 'Your react has been deleted!', 'success');
                                        console.log(data);
                                        document.getElementById(container).innerHTML="<i class='ft-heart'></i>";
                                        document.getElementById(container).style.backgroundColor= "#dc35457d";
                                        document.getElementById(container).style.borderColor= "#dc35457d";
                                        document.getElementById(container).style.borderRadius= "30px";
                                    },
                                    error: function (xhr, textStatus, errorThrown) {
                                        console.log("Ajax request failed.");

                                    }
                                });
                            }else{
                                        console.log("modify plz");
                            }
                        })


                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Ajax request failed. data :");

                }
            });
        }
    }


</script>











    <script src="{{ asset('FrontOffice/js/sweetalert2.all.js')}}" type="text/javascript"></script>

{% endblock %}