{% extends "default/Layout.html.twig" %}



{% block section %}
{#
        <div class="blog-grid-warp">
            <div class="blog-grid-sizer"></div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/1.jpg')}}" alt="">
                    <div class="bi-tag">people</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Female Body Shape Men Find</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/2.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Leica M10-D Is a Simplified Version Of The </a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/3.jpg')}}" alt="">
                    <div class="bi-tag">camera</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">Art Photo Exhibition In America</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/4.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Biggest Cinema Event In 2019</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/5.jpg')}}" alt="">
                    <div class="bi-tag">animal</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Most Expensive Cameras On The Planet</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/7.jpg')}}" alt="">
                    <div class="bi-tag">People</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Biggest Cinema Event In 2019</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/9.jpg')}}" alt="">
                    <div class="bi-tag">camera</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">Camera Type	Digital Camera With Rangefinder</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/8.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The D-Lux 7 Is Leica's Brand New Premium Compact </a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/6.jpg')}}" alt="">
                    <div class="bi-tag">camera</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Biggest Cinema Event In 2019</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/10.jpg')}}" alt="">
                    <div class="bi-tag">animal</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">Meet David The Photographer</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/12.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">Camera Type	Digital Camera With Rangefinder</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/14.jpg')}}" alt="">
                    <div class="bi-tag">camera</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">Ahead Of Our Full Sony A6400 Review, We've </a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/11.jpg')}}" alt="">
                    <div class="bi-tag">animal</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">A Unique Colourful And Elegant Design </a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/15.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Female Body Shape Men Find</a></h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid">
                <div class="blog-item">
                    <img src="{{ asset('FrontOffice/img/blog/13.jpg')}}" alt="">
                    <div class="bi-tag">nature</div>
                    <div class="bi-text">
                        <div class="bi-date">May 19, 2019 | 3 Comment</div>
                        <h3><a href="#">The Leica M10-D Is a Simplified Version Of The </a></h3>
                    </div>
                </div>
            </div>

        </div>

#}
    <table border="1">
        <thead>
        <th>idPost</th>
        <th>idu</th>
        <th>description</th>
        <th>source</th>
        <th>dateCreation</th>

        <th>Modifierrrrrrrrrr</th>
        <th>Supprimer</th>
        </thead>
        <tbody>
        {% for row in result %}
            <tr>
                <td>{{ row.idPost }}</td>
                <td>{{ row.idu.id }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.source }}</td>
                <td>{{ row.dateCreation|date("m/d/Y") }}</td>

                <td><a href="{{path('update_post',{'id':row.idPost})}}">Modifier </a></td>
                <td><a href="{{path('delete_post',{'id':row.idPost})}}">Supprimer </a></td>
                <td><a href="{{path('add_comment',{'id':row.idPost})}}">Add comment </a></td>
                <td><a href="{{path('get_comments',{'id':row.idPost})}}">Display comments </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('add_post') }}">Ajouter Post</a>
{% endblock %}